# Ignorar pastas de ambiente virtual
venv/
venv_ia/
.env

# Ignorar pastas de cache do Python
__pycache__/
*.pyc

# CRUCIAL: Ignorar os Modelos de IA (são pesados demais pro GitHub)
modelo_annie_v1/
memoria_eterna/
wandb/

# Ignorar arquivos temporários ou de sistema
.DS_Store
temp_dados.json
checkpoint_juiz.json
